<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebAppRedirect</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- url Configure for MyServlet -->
  
  <servlet>
  	<servlet-name>mySerlet</servlet-name>
  	<servlet-class>com.sendRedirect.MyServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>mySerlet</servlet-name>
  	<url-pattern>/sa</url-pattern>
  </servlet-mapping>
  
  <!--  Second Servlet -->
  <servlet>
  	<servlet-name>mySerlet2</servlet-name>
  	<servlet-class>com.sendRedirect.SecondServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>mySerlet2</servlet-name>
  	<url-pattern>/sar</url-pattern>
  </servlet-mapping>
</web-app>